{{- $root := . -}}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ template "postfix.fullname" . }}-configmap
  labels: {{ include "postfix.labels" . | nindent 4 }}
data:
{{- range $k, $v := .Values.postfix.templates }}
  {{ $k }}: |
{{ tpl $v $root | indent 4 }}
{{- end }}