{{- if .Values.deployment.enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "postfix.fullname" . }}
  labels:
    app: {{ include "postfix.name" . }}
    chart: {{ include "postfix.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
spec:
  replicas: {{ .Values.deployment.replicaCount }}
  selector:
    matchLabels:
      app: {{ include "postfix.name" . }}
      release: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app: {{ include "postfix.name" . }}
        chart: {{ template "postfix.chart" . }}
        release: {{ .Release.Name }}
        heritage: {{ .Release.Service }}
      annotations:
      {{- range $key, $value := .Values.postfix.templates }}
        checksum/{{ $key }}: {{ $value | toYaml | sha256sum }}
      {{- end }}
{{- with .Values.annotations }}
{{ toYaml . | indent 8 }}
{{- end }}
    spec:
      containers:
      - name: {{ .Chart.Name }}
        image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        lifecycle:
          postStart:
            exec:
              command: ["/usr/sbin/postmap", "/etc/postfix/sasl_passwd"]
        ports:
        - name: smtp
          containerPort: 25
          protocol: TCP
        livenessProbe:
          tcpSocket:
            port: 25
          failureThreshold: 2
          initialDelaySeconds: 10
          periodSeconds: 60
        readinessProbe:
          tcpSocket:
            port: 25
          failureThreshold: 2
          periodSeconds: 5
        volumeMounts:
        {{- range $key, $value := .Values.postfix.templates }}
        - name: configmap-postfix
          subPath: {{ $key }}
          mountPath: /etc/postfix/{{ $key }}
        {{- end }}
        - name: secret-postfix
          subPath: sasl_passwd
          mountPath: /etc/postfix/sasl_passwd
          readOnly: true
      volumes:
      - name: configmap-postfix
        configMap:
          name: {{ template "postfix.fullname" . }}-configmap-postfix
      - name: secret-postfix
        secret:
          secretName: {{ template "postfix.fullname" . }}-secret-postfix
{{- with .Values.resources }}
      resources:
{{ toYaml . | indent 8 }}
{{- end }}
{{- with .Values.nodeSelector }}
      nodeSelector:
{{ toYaml . | indent 8 }}
{{- end }}
{{- with .Values.affinity }}
      affinity:
{{ toYaml . | indent 8 }}
{{- end }}
{{- with .Values.tolerations }}
      tolerations:
{{ toYaml . | indent 8 }}
{{- end }}
{{ end }}
