{{- if .Values.deployment.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "postfix.fullname" . }}
  labels: {{ include "postfix.labels" . | nindent 4 }}
spec:
  type: {{ .Values.deployment.service.type }}
  ports:
    - port: {{ .Values.deployment.service.port }}
      targetPort: 25
      protocol: TCP
      name: smtp
  selector: {{ include "postfix.selectorLabels" . | nindent 4 }}
{{- end }}
