
# Default values for elasticmq.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

image:
  repository: softwaremill/elasticmq
  tag: latest
  pullPolicy: IfNotPresent

imagePullSecrets: []

initContainers: []

service:
  type: ClusterIP
  port: 9324

elasticmq:
  port: 9324
  config: |
    include classpath("application.conf")

    // What is the outside visible address of this ElasticMQ node (used by rest-sqs)
    node-address {
        protocol = http
        host = {{ template "elasticmq.fullname" . }}
        port = {{ .Values.elasticmq.port }}
        context-path = ""
    }


    rest-sqs {
        enabled = true
        bind-port = {{ .Values.elasticmq.port }}
        bind-hostname = "0.0.0.0"
        // Possible values: relaxed, strict
        sqs-limits = relaxed
    }

extraVolumeMounts: []
#  - name: data
#    mountPath: /data

extraVolumes: []
#  - name: data
#    emptyDir: {}

resources: {}
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # limits:
  #  cpu: 100m
  #  memory: 128Mi
  # requests:
  #  cpu: 100m
  #  memory: 128Mi

tolerations: []

affinity: {}
