{{- $root := . -}}
{{- if and .Values.deployment.enabled (not .Values.daemonset.enabled) }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "newrelic-php-agent.fullname" . }}
  labels:
    app.kubernetes.io/name: {{ include "newrelic-php-agent.name" . }}
    helm.sh/chart: {{ include "newrelic-php-agent.chart" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
spec:
  replicas: {{ .Values.deployment.replicaCount }}
{{- with .Values.strategy }}
  strategy:
{{ toYaml . | indent 4 }}
{{- end }}
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ include "newrelic-php-agent.name" . }}
      app.kubernetes.io/instance: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app.kubernetes.io/name: {{ include "newrelic-php-agent.name" . }}
        app.kubernetes.io/instance: {{ .Release.Name }}
    spec:
      {{- with .Values.image.pullSecrets }}
      imagePullSecrets:
{{ toYaml . | indent 8 }}
      {{- end }}
      containers:
      - name: "{{ include "newrelic-php-agent.fullname" . }}"
        image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
        imagePullPolicy: {{ .Values.image.pullPolicy }}
{{- with .Values.image.command }}
        command:
{{ toYaml . | indent 10 }}
{{- end }}
{{- if not (isAbs $.Values.newrelic.address) }}
        args: ["--address={{ $.Values.newrelic.address }}", "--watchdog-foreground"]
{{- end }}
{{- with .Values.deployment.extraEnv }}
        env:
{{ toYaml . | indent 10 }}
{{- end }}
{{- with .Values.deployment.extraEnvFrom }}
        envFrom:
{{ toYaml . | indent 10 }}
{{- end }}
        livenessProbe:
{{- with .Values.livenessProbe }}
{{ toYaml . | indent 10 }}
{{- else }}
          {{- if isAbs $.Values.newrelic.address }}
          exec:
            command:
            - /bin/sh
            - -c
            - ls -al {{ $.Values.newrelic.address }}
          {{- else }}
          tcpSocket:
            port: {{ $.Values.newrelic.port }}
          {{- end }}
          failureThreshold: 2
          initialDelaySeconds: 10
          periodSeconds: 60
{{- end }}
        readinessProbe:
{{- with .Values.readinessProbe }}
{{ toYaml . | indent 10 }}
{{- else }}
          {{- if isAbs $.Values.newrelic.address }}
          exec:
            command:
            - /bin/sh
            - -c
            - ls -al {{ $.Values.newrelic.address }}
          {{- else }}
          tcpSocket:
            port: {{ $.Values.newrelic.port }}
          {{- end }}
          failureThreshold: 2
          periodSeconds: 5
{{- end }}
{{- if isAbs $.Values.newrelic.address }}
        volumeMounts:
          - mountPath: {{ dir $.Values.newrelic.address }}
            name: newrelic
{{- with .Values.daemonset.extraVolumeMounts }}
{{ toYaml . | indent 10 }}
{{- end }}
{{- with .Values.daemonset.extraPorts }}
        ports:
{{ toYaml . | indent 10 }}
{{- end }}
{{- else }}
{{- with .Values.deployment.extraVolumeMounts }}
        volumeMounts:
{{ toYaml . | indent 10 }}
{{- end }}
        ports:
          - name: nw-daemon-port
            containerPort: {{ $.Values.newrelic.port }}
            protocol: TCP
{{- with .Values.deployment.extraPorts }}
{{ toYaml . | indent 10 }}
{{- end }}
{{- end }}
{{- if isAbs $.Values.newrelic.address }}
      volumes:
        - name: newrelic
          hostPath:
            path: /var/run/newrelic
{{- with .Values.daemonset.extraVolumes }}
{{ toYaml . | indent 10 }}
{{- end }}
{{- else }}
{{- with .Values.daemonset.extraVolumes }}
      volumes:
{{ toYaml . | indent 10 }}
{{- end }}
{{- end }}
{{- with .Values.tolerations }}
      tolerations:
{{ toYaml . | indent 8 }}
{{- end }}
{{- with .Values.affinity }}
      affinity:
{{ toYaml . | indent 8 }}
{{- end }}
{{- with .Values.daemonset.nodeSelector }}
      nodeSelector:
{{ toYaml . | indent 8 }}
{{- end }}
{{- end }}