# Default values for php.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

# GLOBAL
sharedPath: /var/www/html

# DEPLOYMENT
#replicaCount: 1

strategy:
  type: RollingUpdate

podAnnotations: {}

imagePullSecrets: []

restartPolicy: ""

securityContext: {}

serviceAccountName: ""

extraVolumes: []

extraVolumeMounts: []

terminationGracePeriodSeconds: 70

tolerations: []

affinity: {}

# SERVICE
service:
  type: LoadBalancer
  extraPorts: []

# INGRESS
ingress:
  enabled: false

# PDB
podDisruptionBudget:
  enabled: false

# HPA
autoscaling:
  enabled: false
  #minReplicas:
  #maxReplicas:
  #metrics:
  #  - type: Resource
  #    resource:
  #      name: cpu
  #      target:
  #        type: Utilization
  #        averageUtilization: 60

# BUSYBOX
busybox:
  enabled: true
  image:
    repository: busybox
    tag: latest
    pullPolicy: IfNotPresent

  # `busybox.command` is initialize command.
  # Copy the source code in busybox to `sharedPath` or `busybox.sharedPath`.
  # e.g. sh -c "cp -av /path/to/sources/* /path/to/share-path"
  command: ["sh", "-c", "echo '<?php echo \"Hello World\";' > {{ .Values.sharedPath }}/index.php"]

  # `busybox.sharedPath` is specifies the directory to mount.
  # Default is `sharedPath`, but if it conflicts with the source code directory, please specify it.
  #sharedPath: {{ .Values.sharedPath }}

  # `busybox.extraEnv` is additional environment variables.
  extraEnv: {}
  #  KEY1: VALUE1
  #  KEY2: VALUE2
  #  KEY3: VALUE3

  # `busybox.extraEnvFrom` is addtional envFrom.
  # Specify ConfigMap created in `busybox.templates` or Secret created in `busybox.secrets`.
  extraEnvFrom: []
  #- configMapRef:
  #    name: [release-name]-busybox-[template-name]
  #- secretRef:
  #    name: [release-name]-busybox-[template-name]

  # `busybox.extraVolumes` is addition volumes.
  extraVolumes: []
  #- name: extra-volume
  #  configMap:
  #    name: configmap-name

  # `busybox.extraVolumeMounts` is addition volumeMounts.
  # specify the volume name created with `extraVolume`.
  extraVolumeMounts: []
  #- name: your-volume-name
  #  mountPath: /path/to/dir

  # `buxybox.secrets` is additional Secret as a string to be passed to the tpl function.
  # Secret name created here is `[release-name]-busybox-[template-name]`.
  secrets: {}
  #  file1.yaml: |
  #    foo: 1
  #    bar: 2
  #    baz: 3
  #  file2.yaml: |
  #    foo: 1
  #    bar: 2
  #    baz: 3
  #  envname:
  #    FOO: 1
  #    BAR: 2
  #    BAZ: 3

  # `buxybox.templates` is additional ConfigMap as a string to be passed to the tpl function.
  # ConfigMap name created here is `[release-name]-busybox-[template-name]`.
  templates: {}
  #  file1.yaml: |
  #    foo: 1
  #    bar: 2
  #    baz: 3
  #  file2.yaml: |
  #    foo: 1
  #    bar: 2
  #    baz: 3
  #  envname:
  #    FOO: 1
  #    BAR: 2
  #    BAZ: 3

  # Grant annotations to ConfigMap of `busybox.templates`, Secrets of `busybox.secrets`.
  annotations: {}

# NGINX
nginx:
  image:
    repository: nginx
    tag: 1.17-alpine
    pullPolicy: IfNotPresent

  # command for nginx image execution
  command: []

  # NGINX configuration
  # port using as Container port, Service port
  containerPort: 80

  lifecycle: {}
    #postStart:
    #  exec:
    #    command: ["/bin/sh", "-c", "echo Hello > /tmp/message"]
    #preStop:
    #  exec:
    #    command: ["/bin/sh", "-c", "sleep 5; nginx -s quit; sleep 60"]

  livenessProbe:
    httpGet:
      path: /index.php
      port: 80
    initialDelaySeconds: 15
    periodSeconds: 5
    timeoutSeconds: 1
    successThreshold: 1
    failureThreshold: 3

  readinessProbe:
    httpGet:
      path: /index.php
      port: 80
    initialDelaySeconds: 15
    periodSeconds: 5
    timeoutSeconds: 1
    successThreshold: 1
    failureThreshold: 3

  resources: {}

  # `nginx.extraEnv` is additional environment variables.
  extraEnv: {}
  #  KEY1: VALUE1
  #  KEY2: VALUE2
  #  KEY3: VALUE3

  # `nginx.extraEnvFrom` is addtional envFrom.
  # Specify ConfigMap created in `nginx.templates` or Secret created in `nginx.secrets`.
  extraEnvFrom: []
  #- configMapRef:
  #    name: [release-name]-nginx-[template-name]
  #- secretRef:
  #    name: [release-name]-nginx-[template-name]

  # `nginx.extraPorts` is addtional ports.
  # Please specify if you want to expose a non-default port.
  extraPorts: []
  #- name: extra-port
  #  containerPort: 9999
  #  protocol: TCP

  # `nginx.extraVolumes` is addition volumes.
  extraVolumes: []
  #- name: extra-volume
  #  configMap:
  #    name: configmap-name

  # `nginx.extraVolumeMounts` is addition volumeMounts.
  # specify the volume name created with `extraVolume`.
  extraVolumeMounts: []
  #- name: your-volume-name
  #  mountPath: /path/to/dir

  # `nginx.secrets` is additional Secret as a string to be passed to the tpl function.
  # Secret name created here is `[release-name]-nginx-[template-name]`.
  secrets: {}
  #  file1.yaml: |
  #    foo: 1
  #    bar: 2
  #    baz: 3
  #  file2.yaml: |
  #    foo: 1
  #    bar: 2
  #    baz: 3
  #  envname:
  #    FOO: 1
  #    BAR: 2
  #    BAZ: 3

  # configuration NGINX templates.
  # If you can not be satisfied with the default settings you can change the template.
  templates:
    nginx.conf: |
      user  nobody;
      worker_processes  auto;

      error_log  /dev/stderr info;
      pid        /var/run/nginx.pid;

      events {
          worker_connections  1024;
      }

      http {
          include       /etc/nginx/mime.types;
          default_type  application/octet-stream;

          log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
                            '$status $body_bytes_sent "$http_referer" '
                            '"$http_user_agent" "$http_x_forwarded_for"';

          access_log  /dev/stdout  main;

          sendfile        on;

          keepalive_timeout  65;

          include /etc/nginx/conf.d/*.conf;
      }
    default.conf: |
      server {
          listen {{ .Values.nginx.containerPort }};

          location / {
              root   {{ .Values.sharedPath }};
              index  index.html index.htm;
          }
          location ~ \.php$ {
              root           {{ .Values.sharedPath }};
              fastcgi_pass   unix:/var/run/php-fpm/php-fpm.sock;
              fastcgi_index  index.php;
              fastcgi_param  SCRIPT_FILENAME  $document_root$fastcgi_script_name;
              include        fastcgi_params;
          }
      }

  # Grant annotations to ConfigMap of `nginx.templates`, Secrets of `nginx.secrets`.
  annotations: {}

# PHP-FPM
fpm:
  image:
    repository: php
    tag: 7.4-fpm-alpine
    pullPolicy: IfNotPresent

  # custom command for php-fpm image execution
  command: []
  # command:
  # - php-fpm
  # - -d zend_extension=xdebug.so

  lifecycle: {}
    #postStart:
    #  exec:
    #    command: ["/bin/sh", "-c", "echo Hello > /tmp/message"]
    #preStop: {}
    #  exec:
    #    command: ["/bin/sh", "-c", "sleep 5; kill -QUIT 1; sleep 60"]

  livenessProbe: {}
  readinessProbe: {}
  resources: {}

  # `fpm.extraEnv` is additional environment variables.
  extraEnv: []
  #- name: key1
  #  value: value1
  #- name: HOST_IP
  #  valueFrom:
  #    fieldRef:
  #      fieldPath: status.hostIP

  # `fpm.extraEnvFrom` is addtional envFrom.
  # Specify ConfigMap created in `fpm.templates` or Secret created in `fpm.secrets`.
  extraEnvFrom: []
  #- configMapRef:
  #    name: [release-name]-fpm-[template-name]
  #- secretRef:
  #    name: [release-name]-fpm-[template-name]

  # `fpm.extraPorts` is addtional ports.
  # Please specify if you want to expose a non-default port.
  extraPorts: []
  #- name: extra-port
  #  containerPort: 9999
  #  protocol: TCP

  # `fpm.extraVolumes` is addition volumes.
  extraVolumes: []
  #- name: extra-volume
  #  configMap:
  #    name: configmap-name

  # `fpm.extraVolumeMounts` is addition volumeMounts.
  # specify the volume name created with `extraVolume`.
  extraVolumeMounts: []
  #- name: your-volume-name
  #  mountPath: /path/to/dir

  # `fpm.secrets` is additional Secret as a string to be passed to the tpl function.
  # Secret name created here is `[release-name]-nginx-[template-name]`.
  secrets: {}
  #  file1.yaml: |
  #    foo: 1
  #    bar: 2
  #    baz: 3
  #  file2.yaml: |
  #    foo: 1
  #    bar: 2
  #    baz: 3
  #  envname:
  #    FOO: 1
  #    BAR: 2
  #    BAZ: 3

  # configuration PHP-FPM templates
  # If you can not be satisfied with the default settings you can change the template.
  templates:
    zz-kubernetes.conf: |
      [www]
      listen = /var/run/php-fpm/php-fpm.sock
      listen.owner = nobody
      listen.group = nogroup
      listen.mode = 0660

      php_admin_value[sys_temp_dir] = /tmp

      php_admin_flag[display_errors] = off
      php_admin_value[error_log] = /proc/self/fd/2
      php_admin_flag[log_errors] = on
      php_admin_value[log_errors_max_len] = 8192

  # Grant annotations to ConfigMap of `fpm.templates`, Secrets of `fpm.secrets`.
  annotations: {}

# `extra` is additional Raw Kubernetes Config as a string to be passed to the tpl function.
extras:
  templates: {}
#    secret1: |
#     apiVersion: v1
#     kind: Secret
#     metadata:
#       name: {{ template "php.fullname" . }}
#       labels:
#         app: {{ template "php.name" . }}
#         chart: {{ template "php.chart" . }}
#         release: {{ .Release.Name }}
#         heritage: {{ .Release.Service }}
#     type: Opaque
#     data:
#       hoge: {{ .Values.extras.hoge }}
#  hoge: 1

# TEST
test:
  enabled: true
